<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/base.css">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="home">
                <a href="{{ path('home') }}" class="logo">Box-Shadow</a>
            </div>
            <div class="links">
                <a href="">Inscription</a>
                <a href="">Connexion</a>            
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
