{% extends 'base.html.twig' %}

{% block title %}Box-Shadow - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block body %}

<div class="full">
    <div class="title">
        <h1 class="overlay first">Box-Shadow</h1>
        <h1 class="overlay second">Box-Shadow</h1>
        <h1 class="overlay third">Box-Shadow</h1>
    </div>
</div>

<div class="hero">
    <p>Découvrez une nouvelle manière d'enseigner</p>
</div>

<div class="cards">
            <div class="card">
                {# <img src="img/bedroom.jpg" alt="Chambre d'hôtel"> #}
                <h4>Nos formations</h4>
                <p>Des formations clés en main, des cours structurés en modules, avec la possibilit d'en organiser la disponibilité selon vos besoins</p>
                <a class="button" href="view/discover.html">Nos chambres</a>
            </div>
            <div class="card">
                {# <img src="img/resto.jpg" alt="Restaurant"> #}
                <h4>Garantie sécurité</h4>
                <p>Chaque formation est sécurisée par un code unique à celle-ci et à votre profil, permettant de n'autoriser l'accès qu'à vos élèves</p>
                <a class="button" href="view/discover.html">Notre restaurant</a>
            </div>
            <div class="card">
                {# <img src="img/sauna.jpg" alt="Sauna"> #}
                <h4>Apprentissage et enseignement</h4>
                <p>Une plateforme conçue aussi bien pour les formateurs que pour les apprenants, claire et accessible pour tous</p>
                <a class="button" href="view/discover.html">Notre spa</a>
            </div>
</div>


{% endblock %}
