{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block body %}

<div class="full">
    <div class="title">
        <h1 class="overlay first">Box-Shadow</h1>
        <h1 class="overlay second">Box-Shadow</h1>
        <h1 class="overlay third">Box-Shadow</h1>
    </div>
</div>

<div class="hero">
    <p>Découvrez une nouvelle manière d'enseigner</p>
</div>

<div class="cards">

</div>


{% endblock %}
