{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/profil.css">
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/profil.js" defer></script>
{% endblock %}

{% block body %}



{% if suivre is not empty %}
    {% set last = suivre|last %}
<div class="navforma">
    <a id="allformas">Parcourir mes formations</a>
    <a href="">Rechercher un cours ...</a>
</div>

<div class="formations">
    <h2>Formation la plus récente</h2>
    {{ last.idFormation.nom }}
</div>

<div class="show">
    <ul>
    {% for su in suivre %}
        <li><a href="">{{ su.idFormation.nom }}</a></li>
    {% endfor %}        
    </ul>
    
</div>


{% else %}
    <h1>*bruits d'élève*</h1>    
{% endif %}


{% endblock %}
