{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block body %}

<h1>*Bruits de formateur*</h1>


{% endblock %}
